<!DOCTYPE html>
<html lang="zxx" class="no-js">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="/img/fav.png">
    <meta name="author" content="codepixer">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta charset="UTF-8">
    <title>Rehab</title>

    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700" rel="stylesheet">

    @Styles.Render("~/Content/linearicons.css")
    @Styles.Render("~/Content/font-awesome.min.css")
    @Styles.Render("~/Content/bootstrap/bootstrap.css")
    @Styles.Render("~/Content/magnific-popup.css")
    @Styles.Render("~/Content/nice-select.css")
    @Styles.Render("~/Content/animate.min.css")
    @Styles.Render("~/Content/owl.carousel.css")
    @Styles.Render("~/Content/main.css")

</head>
<body>
    <header id="header">
        <div class="container">
            <div class="row align-items-center justify-content-between d-flex">
                <div id="logo">
                    <a href="index.html"><img src="/img/logo.png" alt="" title="" /></a>
                </div>
                <nav id="nav-menu-container">
                    <ul class="nav-menu">
                        <li class="menu-active">@Html.ActionLink("Home", "Index", "Home")</li>
                        <li class="menu-has-children">
                            <a href="">Pages</a>
                            <ul>
                                <li>@Html.ActionLink("Patients", "Index", "Patients")</li>
                                <li>@Html.ActionLink("Evaluations", "Index", "Evaluations")</li>
                            </ul>
                        </li>
                        <li>@Html.ActionLink("About", "About", "Home")</li>
                    </ul>
                </nav><!-- #nav-menu-container -->
            </div>
        </div>
    </header><!-- #header -->

    @RenderBody()

    <!-- start footer Area -->
    <footer class="footer-area section-gap">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-md-6 col-sm-6">
                    <div class="single-footer-widget">
                        <h6>About Us</h6>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore dolore magna aliqua.
                        </p>
                        <p class="footer-text">
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                            Copyright &copy;
                            <script>document.write(new Date().getFullYear());</script> All rights reserved | Rehab Center
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        </p>
                    </div>
                </div>
                <div class="col-lg-5  col-md-6 col-sm-6">
                    <div class="single-footer-widget">
                        <h6>Newsletter</h6>
                        <p>Stay update with our latest</p>
                        <div class="" id="mc_embed_signup">
                            <form target="_blank" novalidate="true" action="https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&amp;id=92a4423d01" method="get" class="form-inline">
                                <input class="form-control" name="EMAIL" placeholder="Enter Email" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter Email '" required="" type="email">
                                <button class="click-btn btn btn-default"><i class="fa fa-long-arrow-right" aria-hidden="true"></i></button>
                                <div style="position: absolute; left: -5000px;">
                                    <input name="b_36c4fd991d266f23781ded980_aefe40901a" tabindex="-1" value="" type="text">
                                </div>
                                <div class="info"></div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-6 col-sm-6 social-widget">
                    <div class="single-footer-widget">
                        <h6>Follow Us</h6>
                        <p>Let us be social</p>
                        <div class="footer-social d-flex align-items-center">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-dribbble"></i></a>
                            <a href="#"><i class="fa fa-behance"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- End footer Area -->

    @Scripts.Render("~/Scripts/vendor/jquery-2.2.4.min.js")

    @Scripts.Render("~/Scripts/vendor/bootstrap.min.js")

    @Scripts.Render("~/Scripts/easing.min.js")
    @Scripts.Render("~/Scripts/hoverIntent.js")
    @Scripts.Render("~/Scripts/superfish.min.js")
    @Scripts.Render("~/Scripts/jquery.ajaxchimp.min.js")
    @Scripts.Render("~/Scripts/jquery.magnific-popup.min.js")
    @Scripts.Render("~/Scripts/owl.carousel.min.js")
    @Scripts.Render("~/Scripts/jquery.sticky.js")
    @Scripts.Render("~/Scripts/jquery.nice-select.min.js")
    @Scripts.Render("~/Scripts/parallax.min.js")
    @Scripts.Render("~/Scripts/mail-script.js")
    @Scripts.Render("~/Scripts/main.js")

    @RenderSection("scripts", required: false)

</body>
</html>
